*{
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
body{
    background-color: #3996DB;
    color: black;
}
.row{
    display: flex;
    justify-content: center;
}

.col{
    border: 3px solid #24D9C0;
    border-radius: 10px;
    padding: 10px;
    margin: 2px;
    background-color: white;
    text-align: left;
}
.col-1{
    width: 15%;
}
.col-2{
    width: 25%;
}
.col-3{
    width: 50%;
}
.col-4{
    width: 20%;
}
h1{
    margin: 20px;
    text-align: center;

}
.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    text-decoration: underline;
    color: #24D9C0;
}
.footerlink{
    color: white;
    text-decoration: none;
}
.footerlink:hover{
    text-decoration: underline;
    color: #24D9C0;
}
footer{
    color: white;
    font-weight: bold;
    text-align: center;
}
.experience{
    float: left;
}
.degrees{
    float: right;
}
.languages{
    float: right;
}
.languages li:nth-child(even){
    list-style-type: square;
}
.languages li:nth-child(odd){
    list-style-type: circle;
    font-style: italic;
}
.photo{
    justify-content: center;
    display: flex;
    margin: 5px;
    max-width: 350px;
    border-radius: 10px;

}
.photo:hover{
    box-shadow: 3px 3px 10px black;
}
@media screen and (max-width:578px) {
    .photo{
        max-width: 200px;
        justify-content: center;
        flex-direction: column;
    }
    .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .col{
        overflow: scroll;
        justify-content: center;
    }
    .col-1{
        width: 80%;
    }
    .col-2{
        width: 80%;
    }
    .col-3{
        width: 80%;
    }
    .col-4{
        width: auto;
    }

}
